<div class="container">
    <div class="col-12 p-2">
        <div class="card">
            <div class="card-header mb-2">
                <h3 class="card-title">Nauczyciele z wychowawstwem wraz z klasami</h3>
            </div>
            <div class="card-body table-responsive p-0 auto-height">
                <table id="table" class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Płeć</th>
                        <th>Klasa</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
